---
import Hamburger from "./Hamburger.astro"
import LanguageSelector from "./LanguageSelector.astro"

const { locale, t } = Astro.props;
---

<header class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600 dark:text-teal-600" href="#">
          <span class="sr-only">Home</span>
          <img
            src="/src//assets/logo-home.png"
            width="100"
            class="rounded-lg"
          />
        </a>
      </div>

      <div class="hidden md:block">
        <nav aria-label="Global">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                href="#about-us"
              >
                About Us</a
              >
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                href="#trainings"
              >
                Trainings
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                href="#location"
              >
                Location
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                href="#contact-us"
              >
                Contact us
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                href="#gallery"
              >
                Gallery
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="flex items-center gap-4">
        <div class="sm:flex">
          <LanguageSelector {locale} />
        </div>

        <Hamburger {t} />
      </div>
    </div>
  </div>
</header>
