<section id="joinus" class="mx-auto max-w-screen-xl mt-8 py-8">
  <h2
    class="text-2xl font-semibold text-gray-900 sm:text-3xl text-center"
  >
    Join us!
  </h2>
  <div class="mx-3 lg:mx-0 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 mt-4">
    <article
      class="rounded-lg border border-gray-100 bg-white p-4 shadow-xs transition hover:shadow-lg sm:p-6"
    >
      <img
        src="/images/baticon.webp"
        width="80"
        height="80"
        alt="batter"
        class="mx-auto"
      />

      <h3 class="mt-0.5 text-lg font-medium text-gray-900">
        Discover the Joy of Baseball!
      </h3>

      <p class="mt-2  text-sm/relaxed text-gray-500">
        Baseball is a dynamic, team-oriented sport where children develop skills
        in catching, throwing, and hitting—all while enjoying exciting matches
        against other teams across Limburg. Our players form a welcoming and
        supportive community where every child feels included and valued.
      </p>

      <a
        href="#"
        class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600"
      >
        Contact us!

        <span
          aria-hidden="true"
          class="block transition-all group-hover:ms-0.5 rtl:rotate-180"
        >
          &rarr;
        </span>
      </a>
    </article>

    <article
      class="rounded-lg border border-gray-100 bg-white p-4 shadow-xs transition hover:shadow-lg sm:p-6"
    >
      <img
        src="/images/catchicon.png"
        width="80"
        height="80"
        alt="catcher"
        class="mx-auto"
      />

      <h3 class="mt-0.5 text-lg font-medium text-gray-900">
        First Month Free – We’ve Got You Covered!
      </h3>

      <p class="mt-2 text-sm/relaxed text-gray-500">
        Start with a free month of training to explore everything we offer—no
        strings attached. We believe every child should have the opportunity to
        participate, so we'll always do what we can to support families with
        practical help, whether that’s assistance with costs or lending
        equipment like uniforms.
      </p>

      <a
        href="#"
        class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600"
      >
        Contact us!

        <span
          aria-hidden="true"
          class="block transition-all group-hover:ms-0.5 rtl:rotate-180"
        >
          &rarr;
        </span>
      </a>
    </article>
  </div>
</section>
