<section id="trainings" class="mx-auto max-w-screen-xl mt-8">
  <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl text-center">
    Trainings
  </h2>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 mt-4 mx-3 lg:mx-0">
    <article
      class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg"
    >
      <img
        alt="pupils"
        src="/src//assets/pupils.webp"
        class="h-56 w-full object-cover"
      />

      <div class="bg-white p-4 sm:p-6">
        <div class="flex justify-end">
          <span
            class="rounded-full bg-purple-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-purple-700"
          >
            Thu. 18:00 to 19:30
          </span>
        </div>

        <h3 class="mt-0.5 text-lg text-gray-900">
          <b>Pupils</b> (up to 12 years old)
        </h3>

        <p class="mt-2 text-sm/relaxed text-gray-500">
          The team consists of children aged 7 to 12 years. We are still looking
          for enthusiastic new members for this team!
        </p>
        <p class="mt-2 text-sm/relaxed text-gray-500">
          Fun and games are paramount. The team consists of fun, friendly and
          sweet kids. Everyone belongs!
        </p>
        <p class="mt-2 text-sm/relaxed text-gray-500">
          During the season (March to October) we have 1 training session during
          the week and a match on Saturday morning. In the winter we train
          indoors in January and February.
        </p>

        <div class="mt-2">
          <p class="mt-2 text-sm/relaxed text-gray-500 font-bold">Coaches</p>

          <ul class="mt-2 list-disc pl-5 text-sm/relaxed text-gray-500">
            <li>Rigo Nicolaas (+316-11466082)</li>
            <li>Moniek de Haas (+316-24901447)</li>
          </ul>
        </div>
      </div>
    </article>
    <article
      class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg"
    >
      <img
        alt="aspirants"
        src="/src//assets/aspirants.webp"
        class="h-56 w-full object-cover"
      />

      <div class="bg-white p-4 sm:p-6">
        <div class="flex justify-end">
          <span
            class="rounded-full bg-purple-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-purple-700"
          >
            Tue and Thu. 18:00 to 19:30
          </span>
        </div>

        <h3 class="mt-0.5 text-lg text-gray-900">
          <b>Aspirants</b> (up to 16 years old)
        </h3>

        <p class="mt-2 text-sm/relaxed text-gray-500">
          Have you got the energy? Our team is for players aged 12 to 15, and
          we're always looking for passionate players!
        </p>
        <p class="mt-2 text-sm/relaxed text-gray-500">
          We focus on fun, friendship, and baseball—a positive, respectful
          environment where everyone belongs.
        </p>
        <p class="mt-2 text-sm/relaxed text-gray-500">
          Seasonal play: Practices twice a week (March–October), with games
          every Saturday morning.
        </p>
        <p class="mt-2 text-sm/relaxed text-gray-500">
          Winter prep: Indoor training sessions in January and February to keep
          skills sharp.
        </p>

        <div class="mt-2">
          <p class="mt-2 text-sm/relaxed text-gray-500 font-bold">Coach</p>

          <ul class="mt-2 list-disc pl-5 text-sm/relaxed text-gray-500">
            <li>Bart Frusch (+316-53451497)</li>
          </ul>
        </div>
      </div>
    </article>
    <article
      class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg"
    >
      <img
        alt="seniors"
        src="/src//assets/seniors.jpeg"
        class="h-56 w-full object-cover"
      />

      <div class="bg-white p-4 sm:p-6">
        <div class="flex justify-end">
          <span
            class="rounded-full bg-purple-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-purple-700"
          >
            Wed. 18:00 to 20:00
          </span>
        </div>

        <h3 class="mt-0.5 text-lg text-gray-900">
          <b>Seniors</b> (from 16 years old)
        </h3>

        <p class="mt-2 text-sm/relaxed text-gray-500">
          Are you ready to play again? Our team is open to adults aged 16 and
          up—new players are always welcome!
        </p>
        <p class="mt-2 text-sm/relaxed text-gray-500">
          We value fun, fitness, and friendship in a relaxed environment.
          Whether you're brushing off the rust or staying active, there's a spot
          for you. Stick around after games for team get‑togethers—or just a
          cold one!
        </p>
        <p class="mt-2 text-sm/relaxed text-gray-500">
          During the season (March–October), we do one evening training session
          per week + Sunday games. During the winter (January–February), indoor
          practice to sharpen skills and stay game-ready
        </p>

        <div class="mt-2">
          <p class="mt-2 text-sm/relaxed text-gray-500 font-bold">Coaches</p>

          <ul class="mt-2 list-disc pl-5 text-sm/relaxed text-gray-500">
            <li>Marko Te Brinke (+316-48312137)</li>
            <li>Paul Brobst (+316-27574372)</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>
